<!-- <div class="wrapper">
  <div class="sidenav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="main">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="body">
      <app-dashboard-home></app-dashboard-home>
    </div>
  </div>


</div>
 -->
 <div class="grid-container">
  <div class="menu-icon">
    <i class="fas fa-bars header__menu"></i>
  </div>
  <div class="header">
    <app-header></app-header>
  </div>
  <div class="sidenav">
    <app-side-nav></app-side-nav>
  </div>
  <div class="main">
    <app-dashboard-home></app-dashboard-home>
  </div>
  <div class="footer">
    <div class="footer__copyright">&copy; Myself</div>
  <div class="footer__signature">Made with love</div>
  </div>
</div>
